force-app/packaged/main/default/flows/New_Provisioning_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Provisioning_Request</name>
        <label>Create Provisioning Request</label>
        <locationX>697</locationX>
        <locationY>696</locationY>
        <actionName>ProvisioningRequestHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <inputParameters>
            <name>Company</name>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Edition</name>
            <value>
                <elementReference>Edition.selectedOption</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Language</name>
            <value>
                <elementReference>Language.selectedOption</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ManifestId</name>
            <value>
                <elementReference>ManifestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Notes</name>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subdomain</name>
            <value>
                <elementReference>Subdomain</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TrialDays</name>
            <value>
                <elementReference>Trial_Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Username</name>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>ManifestList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Manifest__c</object>
        <outputAssignments>
            <assignToReference>ManifestId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>New Provisioning Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Provisioning Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>New_Provisioning_Request</name>
        <label>New Provisioning Request</label>
        <locationX>459</locationX>
        <locationY>155</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Provisioning_Request_Notes</targetReference>
        </connector>
        <fields>
            <name>Template</name>
            <choiceReferences>ManifestList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Edition</name>
            <extensionName>aprv:edition</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Language</name>
            <extensionName>aprv:language</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subdomain</name>
            <dataType>String</dataType>
            <fieldText>Subdomain</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Trial_Days</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>30.0</numberValue>
            </defaultValue>
            <fieldText>Trial Days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Username</name>
            <dataType>String</dataType>
            <fieldText>Username</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Provisioning_Request_Notes</name>
        <label>Notes</label>
        <locationX>607</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Provisioning_Request</targetReference>
        </connector>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you!</label>
        <locationX>1019</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Your provisioning request has been successfully logged!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Provisioning_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ManifestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
